<div class='film-body'>
  <div class='film-equal'></div>
  <div class='film-page-comments'>
    <div class='film-page__comments'>
      <div class='film-page__comments__header'>Отзывы</div>
    </div>
  </div>
</div>