<div class='slideshow-container'>

  <div class='banner-container'></div>

  <div class='mySlides fade'>
    <a href='https://hooli-smotrim.ru/'><img
        alt=''
        class='slide-image'
        src='/icons/netflix.webp'
      /></a>
  </div>

  <div class='mySlides fade'>
    <a href='https://vkplay.ru/'><img
        alt=''
        class='slide-image'
        src='/icons/slider-vk-play2.webp'
      /></a>
  </div>

  <div class='mySlides fade'>
    <a href='https://vk.com/vkvideo'><img
        alt=''
        class='slide-image'
        src='/icons/commercial-vk-video.webp'
      /></a>
  </div>
</div>